body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

main {
  padding-top: 3em;
  max-width: 600px;
  margin: 0 auto;
}

#hotzone {
  margin-top: 1em;
  color: #333;
  font-size: 1.2em;
  padding: 2em;
  background-color: rgb(241, 241, 241);
  text-align: center;
}

#form {
  font-size: 1.2em;
}

#form input[type="text"] {
  background-color: rgb(241, 241, 241);
  border: none;
  font-size: 1em;
  margin-left: 0.2em;
  margin-right: 0.5em;
  padding: 0.2em;
  width: 100px;
}

#form #inputHeight {
  color: #9E9E9E;
}
