---
layout: default
category: work
---

  {% for post in page.posts %}
    <div class="project" >
      <div class="grid_5">
        <a href="/work/{{ post.url }}"><h2>{{ post.title }}</h2></a>
        <div class="details">
          <ul class="options">
            <li><a href="/work/<%= post.url %>">Read More</a></li>
          </ul>
          {{ post.excerpt }}
          <div class="clear"></div>
        </div>
      </div>
      <div class="grid_7">
        <a href="/work/{{ post.url }}"><img src="{{ post.poster | asset_path }}" /></a>
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}