.post {
  margin-bottom: 44px;
}

.post img {
  margin-top: 11px;
  margin-bottom: 11px;
}

/* Page Nav
------------------------------------------- */

#page-nav {
  margin-top: 22px;
  border-top: 3px solid #2e2e2e;
  padding-top: 22px;
  margin-bottom: 33px;
}

/* Gist styling
------------------------------------------- */

.post-main-right .gist {
  margin: 22px 0px;
}

.post-main-right .gist .gist-file {
  font-size: 13px;
  border: none;
}

.post-main-right .gist .gist-file .gist-data {
  background-color: #e6e6e6;
  padding: 10px 15px;
}

.post-main-right .gist .gist-file .gist-highlight {
  padding: 0;
}

.post-main-right .gist .gist-file .gist-meta {
  background-color: #e6e6e6;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #bebebe;
}

.post-main-right .gist .gist-file .gist-meta a,
.post-main-right .gist .gist-file .gist-meta a:visited,
.post-main-right .gist .gist-file .gist-meta a:link {
  text-decoration: none;
  color: #bebebe !important;
  border-bottom: none;
}