body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  color: #2e2e2e;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, serif; 
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
  letter-spacing: -0.5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.8em; 
}

h3 {
  font-size: 17px;
  line-height: 26px; 
  margin-bottom: 11px;
}

h4 {
  font-size: 15px;
  line-height: 26px; 
}

#container p,
#container ul {
  margin-bottom: 1.2em;
  font-family: 'Merriweather';
  line-height: 1.8em;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #2D97C0;
}

a:visited {
  color: #7A4E9C;
}

a:hover {
  color: #ACCAD6;
}

a h2 {
  color: #2e2e2e;
}

a h2:hover {
  color: #ADADAD;
}

h1.underline, #printing-code-body h1 {
  line-height: 25px;
  margin-bottom: 15px;
  border-bottom: 3px solid #2e2e2e;
  padding-bottom: 15px;
}

h2.underline, #printing-code-body h2 {
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #2e2e2e;
  padding-bottom: 12px;
}

blockquote {
  line-height: 22px;
  border-left: 3px solid #4d4c4d;
  padding: 7px 15px;
  font-size: 13px;
  margin: 22px 0px;
  background-color: #e6e6e6;
}

address {
  margin-bottom: 15px;
  line-height: 20px;
}

ul, ol {
  line-height: 22px;
  margin: 11px 0px;
  margin-left: 25px;
}

ul.options {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 12px;
}

ul.options li {
  font-size: 11px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 3px;
  border-bottom: 1px solid #b6b6b6;
}

ul.options a {
  color: #4d4c4d;
  border: none;
}