body {
  font-family: Helvetica, Arial;
  font-size: 14px;
  color: #2e2e2e;
  background-color: #f7f7f5;
}

/* Fonts
----------------------------------------------------------------- */

@font-face {
  font-family: 'Akkurat-Bold';
  src: url(asset_path("AkkurBol.eot")); 
}

@font-face {
  font-family: 'Akkurat-Bold';
  src: url(asset_path("AkkurBol.woff")) format("woff"), url(asset_path("AkkurBol.svg#Akkurat-Bold")) format("svg"); 
}

@font-face {
  font-family: 'Akkurat-Regular';
  src: url(asset_path("AkkurReg.eot")); 
}

@font-face {
  font-family: 'Akkurat-Regular';
  src: url(asset_path("AkkurReg.woff")) format("woff"), url(asset_path("AkkurReg.svg#Akkurat-Regular")) format("svg"); 
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: normal;
  font-family: "Akkurat-Bold", serif; 
}

h1 {
  line-height: 42px;
  font-size: 30px;
  margin-bottom: 11px;
  letter-spacing: -0.5; 
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 11px; 
}

h3 {
  font-size: 17px;
  line-height: 26px; 
	margin-bottom: 11px;
}

h4 {
  font-size: 15px;
  line-height: 26px; 
}

p {
  margin-bottom: 11px;
  line-height: 22px; 
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #868686;
  color: black; 
}

h1.underline, #printing-code-body h1 {
	line-height: 25px;
	margin-bottom: 15px;
	border-bottom: 3px solid #2e2e2e;
  padding-bottom: 15px;
}

h2.underline, #printing-code-body h2 {
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 15px;
	border-bottom: 2px solid #2e2e2e;
  padding-bottom: 12px;
}

a:hover {
	color: #4d4c4d; 
}

blockquote {
  line-height: 22px;
  border-left: 3px solid #4d4c4d;
  padding: 7px 15px;
  font-size: 13px;
  margin: 22px 0px;
  background-color: #e6e6e6;
}

ul, ol {
  line-height: 22px;
  margin: 11px 0px;
  margin-left: 25px;
}

iframe {
	margin-top: 11px;
	margin-bottom: 11px;
}

/* Re-usable styles
----------------------------------------------------------------- */

ul.options {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 12px;
}

ul.options li {
	font-size: 11px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 3px;
  border-bottom: 1px solid #b6b6b6;
}

.project .details ul li a {
	border-bottom: none;
}

ul.options a {
	color: #4d4c4d;
  border: none;
}

/* Skeleton
----------------------------------------------------------------- */

#container {
  width: 1080px;
  margin: 0 auto;
	padding-bottom: 40px;
}

/* Header
----------------------------------------------------------------- */

#header {
  margin-top: 11px;
  margin-bottom: 61px;
  height: 27px;
  line-height: 27px;
  background-color: #2e2e2e;
}

#header ul {
  float: right;
  line-height: 27px;
  margin: 0;
}

#header ul li {
  float: left;
  list-style: none;
  height: 100%;
  border-left: 1px solid #4d4c4d;
}

#header ul li a {
  font-family: "Akkurat-Regular", serif;
  color: white;
  font-size: 13px;
  text-decoration: none;
  border: none;
  padding: 0px 19px;
  display: block;
}
  
#header ul li a:hover {
  background-color: #333333;
}

#header ul li#active a {
  font-family: "Akkurat-Bold", serif;
  background-color: #f7f7f5;
  color: #2e2e2e;
}

#header a#logo {
  font-family: "Akkurat-Regular", serif;
  color: white;
  font-size: 13px;
  text-decoration: none;
  border: none;
  padding: 0px 19px;
  display: block;
  height: 100%;
  float: left;
  border-right: 1px solid #4d4c4d;
}
 
#header a#logo:hover {
  background-color: #333333;
}

/* Front
----------------------------------------------------------------- */

#front-pics {
	margin-bottom: 300px; /* let's make sure they see everything when scroll */
}

#front-pics .column_2,
#front-pics .column_3 {
	margin-bottom: 40px;
}

#front-pics .column_2 .col,
#front-pics .column_3 .col {
	float: left;
}

#front-pics .column_2 a,
#front-pics .column_3 a {
	display: block;
	margin: 0;
	padding: 0;
	margin-right: 1px;
	margin-bottom: 1px;
	border: 0;
}

#front-pics .column_2 img,
#front-pics .column_3 img {
	margin: 0;
	padding: 0;
}

.fixie.tonedown {
	color: #D7D7D7;
}

.fixie.tonedown span.highlight.active {
	color: #2e2e2e;
}

/* Blog
----------------------------------------------------------------- */

.post {
  margin-bottom: 44px;
}

.post img {
	margin-top: 11px;
	margin-bottom: 11px;
}

.post:nth-child(5) {
  margin-bottom: 0px;
}

.post-header {
  border-bottom: 3px solid #2e2e2e;
  padding-bottom: 15px;
}

.post-header .time {
  margin-top: 7px;
  font-family: 'Akkurat-Bold';
  float: left;
  width: 180px;
}

.post-header h1 {
  float: left;
  line-height: 25px;
	margin: 0;
}

.post-main-left {
  float: left;
  width: 180px;
}

#blog-sidebar h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#blog-sidebar p {
	font-size: 13px;
}

/* Level 1
------------------------------------------- */

.post-main-left ul {
	padding-right: 15px;
}

/* Body
------------------------------------------- */

.post-main-right {
  float: left;
  width: 600px;
}

.post-main-right p:first-child {
	margin-top: 15px;
}

.post-main-right img:first-child,
.post-main-right iframe:first-child {
  margin-top: 0;
}

/* Page Nav
------------------------------------------- */

#page-nav {
  margin-top: 22px;
  border-top: 3px solid #2e2e2e;
  padding-top: 22px;
  margin-bottom: 33px;
}

/* Gist styling
------------------------------------------- */

.post-main-right .gist {
  margin: 22px 0px;
}

.post-main-right .gist .gist-file {
  font-size: 13px;
  border: none;
}

.post-main-right .gist .gist-file .gist-data {
  background-color: #e6e6e6;
  padding: 10px 15px;
}

.post-main-right .gist .gist-file .gist-highlight {
  padding: 0;
}

.post-main-right .gist .gist-file .gist-meta {
  background-color: #e6e6e6;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #bebebe;
}

.post-main-right .gist .gist-file .gist-meta a,
.post-main-right .gist .gist-file .gist-meta a:visited,
.post-main-right .gist .gist-file .gist-meta a:link {
  text-decoration: none;
	color: #bebebe !important;
	border-bottom: none;
}

/* Work
----------------------------------------------------------------- */

.project {
	margin-bottom: 22px;
}

.project h2 {
	border-bottom: 3px solid #2e2e2e;
	padding-bottom: 6px;
	margin-bottom: 0px;
}

.project .details ul {
	float: left;
	width: 164px;
	margin-right: 16px;
}

.project .details p {
	float: left;
	width: 240px;
	margin-top: 10px;
}

.project .long-description {
	margin-top: 22px;
}

.project .long-description h3 {
	border-bottom: 2px solid #2e2e2e;
	padding-bottom: 4px;
	margin-bottom: 0px;
}

/* Info
------------------------------------------- */

#cv {
	font-size: 13px;
}

/* Resume Styling
------------------------------------------- */

#resume ul {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-bottom: 22px;
  font-size: 13px;
}

#description {
  font-weight: bold;
  padding-top: 11px;
}

/* Mail
----------------------------------------------------------------- */

#subscribe-box label {
  display: block;
  margin-bottom: 3px;
}

#subscribe-box input[type="text"], #subscribe-box input[type="email"] {
  border: 1px solid #999999;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 5px 10px;
  width: 300px;
  margin-bottom: 10px;
}

#subscribe-box input[type="submit"] {
  margin-top: 10px;
}

#subscribe-box input[name="address"] {
  display: none;
}

/* Printing Code
----------------------------------------------------------------- */

#printing-code-body img {
	border: 1px solid #D0D0D0;
}

#printing-code-body pre {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #EBEBEB;
}

#printing-code-body [data-slideshow] {
	cursor: pointer;
}

#toc {
	margin-left: 0px;
	list-style: none;
}

#toc li {
	margin-bottom: 0px;
}

#toc li a {
	border-bottom: none;
	font-size: 13px;
}

/* Slideshow notes
----------------------------------------------------------------- */

#slideshow a#open-slides {
	display: block;
	background-color: #91C300;
	padding: 5px 10px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	margin-top: 10px;
	border-bottom: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#slideshow {
	margin: 0 auto;
	width: 660px;
	font-size: 18px;
}

#slideshow [data-slideshow] {
	padding: 30px;
	background-color: #C6D1A7;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#slideshow [data-slideshow].slideshow-active {
	background-color: #91C300;
}

#slideshow blockquote {
	font-size: 16px;
	font-style: italic;
}

/* Slideshow slides
----------------------------------------------------------------- */

body#slides {
	background-color: #222222;
}

#slides h2 {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 36px;
	line-height: 40px;
	background-color: #FFF;
	border-left: none;
	padding: 50px 10% 0px 10%;
}

#slides blockquote {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 30px;
	line-height: 40px;
	height: 100%;
	width: 100%;
	background-color: #FFF;
	border-left: none;
	padding: 50px 10% 0px 10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#slides pre {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 26px;
	line-height: 40px;
	background-color: #FFF;
	border-left: none;
	padding: 50px 10% 0px 10%;
}

/* 404
----------------------------------------------------------------- */

#error {
  width: 251px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -230px;
}

#error h1 {
  font-size: 95px;
  line-height: 95px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 11px;
}

#error p {
  font-family: "Akkurat-Bold", serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  color: #1a1a1a;
}

#error #computer {
  position: relative;
}

#computer #left-eye,
#computer #right-eye {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 55px;
  background-image: url("{% asset_path images/eye.png %}"); 
}

#computer #left-eye {
  left: 86px;
}

#computer #right-eye {
  left: 145px;
}

/* Grid
----------------------------------------------------------------- */

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	margin: 0 15px;
  float: left;
} 

.grid_1.alpha, .grid_2.alpha, .grid_3.alpha, .grid_4.alpha, .grid_5.alpha, .grid_6.alpha, .grid_7.alpha, .grid_8.alpha, .grid_9.alpha, .grid_10.alpha, .grid_11.alpha, .grid_12.alpha {
  margin-left: 0px; 
}

.grid_1.omega, .grid_2.omega, .grid_3.omega, .grid_4.omega, .grid_5.omega, .grid_6.omega, .grid_7.omega, .grid_8.omega, .grid_9.omega, .grid_10.omega, .grid_11.omega, .grid_12.omega {
  margin-right: 0px;
}

.grid_1 { width: 60px; }
.grid_2 { width: 150px; }
.grid_3 { width: 240px; }
.grid_4 { width: 330px; }
.grid_5 { width: 420px; }
.grid_6 { width: 510px; }
.grid_7 { width: 600px; }
.grid_8 { width: 690px; }
.grid_9 { width: 780px; }
.grid_10 { width: 870px; }
.grid_11 { width: 960px; }
.grid_12 { width: 1050px; }

.dummy {
	background-color: #f0a0b3;
	height: 300px;
}

/* Vertical Spacing
----------------------------------------------------------------- */

.ver_spacing_1 { margin-bottom: 11px; }
.ver_spacing_2 { margin-bottom: 22px; }
.ver_spacing_3 { margin-bottom: 33px; }
.ver_spacing_4 { margin-bottom: 44px; }
.ver_spacing_5 { margin-bottom: 55px; }
.ver_spacing_6 { margin-bottom: 66px; }

/* Tools
----------------------------------------------------------------- */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0px;
}

/* Admin
----------------------------------------------------------------- */

#admin label {
  display: block;
  margin: 11px 0px;
	font-weight: bold;
}

#admin input[type=text], #admin textarea {
  border: 1px solid #ADADAD;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#admin input[type="text"] {
	width: 550px;
	font-size: 16px;
}

#admin textarea {
	width: 100%;
	height: 500px;
	font-family: "Courier New";
	font-weight: bold;
	font-size: 14px;
}