.project {
  margin-bottom: 22px;
}

.project h2 {
  border-bottom: 3px solid #2e2e2e;
  padding-bottom: 6px;
  margin-bottom: 0px;
}

.project .details ul {
  float: left;
  width: 164px;
  margin-right: 16px;
}

.project .details p {
  float: left;
  width: 240px;
  margin-top: 10px;
}

.project .long-description {
  margin-top: 22px;
}

.project .long-description h3 {
  border-bottom: 2px solid #2e2e2e;
  padding-bottom: 4px;
  margin-bottom: 0px;
}