<!DOCTYPE html>
<html>
<head>
  
  <!-- General metadata -->
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@runemadsen">
  <meta name="twitter:creator" content="@runemadsen">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image:src" content="{{site.url}}{% if page.poster %}{{ page.poster | asset_path }}{% else %}{{ 'front/tinyartists2.jpg' | asset_path }}{% endif %}">

  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400layout,700' rel='stylesheet' type='text/css'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% stylesheet app %}
  {% javascript app %}
  {% include analytics.html %}
</head>
<body{% if page.bodyID %} id="{{page.bodyID}}"{% endif %}>
  {% include menu.html %}
  <div id="container">
    {{ content }}
  </div>
</body>
</html>